.img-container {
  z-index: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  .img-logo {
    margin-left: 20%;
  }
}